*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Helvetica;
}

html{
    scroll-behavior: smooth;
}


body{
background-color:rgb(248, 195, 243);
color:  #000000a7;
}


/*Intro*/
.pic1{
    margin-left:530px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.first{
    text-align: center;
    margin-bottom: 40px;
}
.btn1 a {
    text-decoration: none;
    color: grey;
     border: 2px solid #fe6ccba7;
    margin-left: 680px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn1 a:hover {
    color: White;
    background-color: pink;
    transform: scale(1.05); 
}

/* Lovemoment*/ 
.btn4 .we{
    text-decoration: none;
    color: grey;
    border: 2px solid #fe6ccba7;
    margin-left: 600px;
    margin-right: 200px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn4 .we:hover {
    color: White;
    background-color: pink;
    transform: scale(1.05); 
}

.btn4 .wee{
    text-decoration: none;
    color: grey;
    border: 2px solid #fe6ccba7;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn4 .wee:hover {
    color: White;
    background-color: pink;
    transform: scale(1.05); 
}
/*Pakipot*/ 

.pic2{
    margin-left: 510px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 130px;
    margin-bottom: 50px;
}

.first{
    text-align: center;
    margin-bottom: 40px;
}
.btn2 a {
    text-decoration: none;
    color: grey;
    border: 2px solid #fe6ccba7;
    margin-left: 660px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn2 a:hover {
    color: White;
    background-color: pink;
    transform: scale(1.05); 
}

/* Lovemoment*/ 

.pic6{
    width: 500px;
    margin-left:500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.first{
    text-align: center;
    margin-bottom: 40px;
}
.btn3 a {
    text-decoration: none;
    color: grey;
    border: 2px solid #fe6ccba7;
    margin-left:680px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn3 a:hover {
    color: White;
    background-color: pink;
    transform: scale(1.05); 
}

/* Letter*/ 

.pic4{
    margin-left: 560px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 400px;
    height: 400px;
}

.first{
    text-align: center;
    margin-bottom: 40px;
}


.btn7 a {
    text-decoration: none;
    color: grey;
    border: 2px solid #fe6ccba7;
    margin-left:640px;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn7 a:hover {
    color: White;
    background-color: pink;
    transform: scale(1.05); 
}

/* Remember*/ 

.vid{
    width: 300px;
    height: 600px;
    margin-left: 600px;
    padding-bottom: 40px;
    margin-top: 30px;
}